n8n/workflows/scheduling-followup.json
{
  "name": "Scheduling Follow-up — Sem Resposta",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "cron-followup",
      "name": "Cron - 2h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/rpc/rpc_n8n_get_scheduling_followup_targets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_hours_min",
              "value": "2"
            },
            {
              "name": "p_hours_max",
              "value": "4"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-targets",
      "name": "Buscar Conversas Sem Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-length",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tem-targets",
      "name": "Tem Conversas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {},
      "id": "noop-sem-targets",
      "name": "Sem Conversas",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        740,
        440
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-targets",
      "name": "Loop Conversas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst name = (item.customer_name || '').split(' ')[0] || '';\nconst template = item.followup_message_template || '';\n// Replace {{nome}} placeholder if present, otherwise prepend greeting\nlet message;\nif (template.includes('{{nome}}')) {\n  message = template.replace(/{{nome}}/g, name);\n} else if (name) {\n  message = 'Olá, ' + name + '! ' + template;\n} else {\n  message = template;\n}\nreturn [{ json: { ...item, followup_message: message } }];"
      },
      "id": "montar-mensagem",
      "name": "Montar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $json.zapi_instance_id }}/token/{{ $json.zapi_token }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $json.zapi_client_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.customer_phone }}\",\n  \"message\": \"{{ $json.followup_message }}\"\n}",
        "options": {}
      },
      "id": "enviar-followup",
      "name": "Enviar Follow-up WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/rpc/rpc_n8n_mark_followup_sent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_conversation_id",
              "value": "={{ $json.conversation_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "marcar-followup",
      "name": "Marcar Follow-up Enviado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        300
      ]
    }
  ],
  "connections": {
    "Cron - 2h": {
      "main": [
        [
          {
            "node": "Buscar Conversas Sem Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Sem Resposta": {
      "main": [
        [
          {
            "node": "Tem Conversas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Conversas?": {
      "main": [
        [
          {
            "node": "Loop Conversas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Conversas": {
      "main": [
        [
          {
            "node": "Montar Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Montar Mensagem": {
      "main": [
        [
          {
            "node": "Enviar Follow-up WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Follow-up WhatsApp": {
      "main": [
        [
          {
            "node": "Marcar Follow-up Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Follow-up Enviado": {
      "main": [
        [
          {
            "node": "Loop Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-16T00:00:00.000Z",
  "versionId": "scheduling-followup-v1"
}